<div class="orders">
    <table mat-table
        [dataSource]="dataSource" multiTemplateDataRows
        class="amat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let property"> {{property[column]}} </td>
    </ng-container>
    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let property">
        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === property ? null : property); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== property">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === property">keyboard_arrow_up</mat-icon>
        </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let property">
            <button mat-raised-button color="accent" mat-button>order again</button>
        </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let property" [attr.colspan]="columnsToDisplayWithExpand.length">
        <div class="example-property-detail"
            [@detailExpand]="property === expandedElement ? 'expanded' : 'collapsed'">
            <div>
                <ul>
                    <li *ngFor="let package of property.packages">{{package.count}} x {{package.name}}:    {{package.value}}</li>
                </ul>
            </div>
        </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row *matRowDef="let property; columns: columnsToDisplayWithExpand;"
        class="example-property-row"
        [class.example-expanded-row]="expandedElement === property"
        (click)="expandedElement = expandedElement === property ? null : property">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>