<div class="properties-wrap">
    <div *ngFor="let property of properties$ | async" class="property">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>{{property.address}}</mat-card-subtitle>
          <mat-card-title><p>{{ property.type | enumToString: 'PropertyType' }}</p>  
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img width="80" height="80" src="../../../../assets/town.png" alt="user-logo">
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['../property-detail', property.id]">Details</button>
          <button mat-raised-button color="primary"
            matBadge="8" matBadgePosition="after" matBadgeColor="accent">
            Action
          </button>
        </mat-card-actions>
        <mat-card-footer>
          <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
        </mat-card-footer>
    </mat-card>   
    </div>
</div>